/*Start of Nav Bar*/
#logo{
    width: 100px;
    height: 100px;
}

.container {
    background-color: rgba(255, 255, 255, 0.836);
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand{
    border-color: black;
    border-width: 5px;
}

.brand h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
}

.brand span{
    color: #FF5858;
    font-weight: 400;
}

.menu{
    display: flex;
    list-style: none;
}

.menu-items{
    position: relative;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
}

.menu-items a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px 25px;
}

.menu-items a:hover{
    color: #FF5858;
    background-color: rgb(50, 50, 50);
}

.has-sub-menu > a{
    padding-right: 35px;
    position: relative;
}

.has-sub-menu > a::after{
    content: '+';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.has-sub-menu > a:hover::after{
    content: '+';
    color: #FF5858;
}

.has-sub-menu .sub-menu{
    position: absolute;
    z-index: 999;
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
    transition: 0.4s ease-in-out;

    min-width: 100%;
    width: max-content;
    background-color: #000000;
    list-style-type: none;
}

.has-sub-menu .sub-menu .menu-item{
    width: 100%;
}

.menu-item a{
    color: whitesmoke;
}
.has-sub-menu:hover  > .sub-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
/*End of Nav Bar*/

.banner {
  position: relative;
}
img {
  width: 100%;
  height: auto;
}

.title {
  position:absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  color: black;
  align-self: center;
}


.donate {
  box-sizing: border-box;
  width: 60%;
  height: auto;
  margin: auto;
  border: 2px solid black;
  border-radius: 30px;
  padding-left: 1em;
  text-align: center;
}

p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.amount, .info, .payment, #submit {
  display: none;
}

input[type = button], #submit, #otherInput {
  width: 40%;
  height: 50px;
  margin-bottom: 15px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: solid white;
  border-radius: 8px;
  color: black;
  background: rgba(170, 25, 23, 0.3);
  font-size: 25px;
  font-family: Montserrat;
}

input[type = button]:hover, #submit:hover {
  background: rgba(170, 25, 23, 1);
  color: white;
}

input[type = button]:disabled {
  opacity:0.3;
}

input[type = button]:focus {
  background: rgba(170, 25, 23, 1);
  color: white;
  border: solid black;
  border-radius: 8px;
}

#month {
  position: relative;
  left: 0.75em;
}

#year {
  position: relative;
  left: 1em;
}

#other, #otherInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#otherInput {
  background: rgba(170, 25, 23, 1);
  border: solid black;
  border-radius: 8px;
  color: white;
  text-align: center;
}

#otherInput::placeholder {
  color: white;
}

.info input, .payment input {
  box-sizing: border-box;
  margin-bottom: 15px;
  align-self: center;
  padding: 15px;
  width: 75%;
  font-family: Montserrat;
}

#fname, #lname, #postal, #number {
  width: 35%;
}

#fname {
  margin-right: 5%;
}

#number {
  position: relative;
  right: 20%;
}

.info select, .payment select {
  margin-bottom: 15px;
  margin-right: 5%;
  padding: 15px;
  width: 35%;
}

.payment select {
  margin-right: 3.5%;
  margin-left: 1%;
}

/*footer*/
.footer{
    background-color: black;
    margin-top: 10%;
    width: 100%;
    height: 40%;
    color: whitesmoke;
    display: table;
}
#nameOfCompany{
    position: relative;
    color: whitesmoke;
    transform: rotate(90deg);
    font-size: 40px;
    text-align: center;
    width: 25%;
    height: 15%;
    margin-top: 20%;
}
#logo_footer{
    margin-top: 7px;
    width: 230px;
    height: auto;
}
.icon{
    margin-top: 7px;
    width: 7%;
    float: right;
    align-content: flex-end;
}
#for_company{
    width: 40%;
    float: left;
    display: inline-flex;
}
#fb_icon{
    width: 75px;
    height: 75px;
}
#ig_icon{
    width: 75px;
    height: 75px;
}
#twitter_icon{
    width: 75px;
    height: 75px;
}
