body{
   background-color: #f2f2f2;
}

.legend1{
    padding: 0px 10px;
}

.firstcontent {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    display: table;
    padding: 10px 70px 0px 70px;  
}

.secondcontent {
    background-color: white;
    margin-left: 5%;
    display: table;
    padding: 10px 130px 20px 70px;  
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.formtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.button{
    background-color: rgb(240, 68, 68);
    padding: 5px 40px 5px 40px;
    border-radius: 3px;
    color:white;
    border-color: white;
}

a{
    text-decoration: none;
}

.first_field{
    border-color: rgb(240, 68, 68);
    border-width: 3px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.size{
    font-size: 11pt;
}

.tablestyle{
    padding:5%;
    /*inline block -> responsive table*/
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

#city{
    margin:10px 0px 10px 0px;
    font-size:11pt;
}

.finalmessage{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



